.not-gjs {
  display: none;
}
#gjs {
  font: normal 100%/1.1em Helvetica, sans-serif;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.gjs-pn-buttons {
  justify-content: center;
}
.gjs-pn-devices-c {
  position: relative;
  top: -3px;
}
.gjs-pn-drupal {
  position: relative;
}
.gjs-pn-drupal .grapesjs-button {
  background-color: rgba(0,0,0,0.15);
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.25) inset;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  line-height: 21px;
  margin-right: 4px;
  padding: 5px;
  position: relative;
  width: 30px;
}
.grapesjs-button--close::before {
  content: "✖";
}
.grapesjs-button--save-close::before {
  content: 'S';
}
.grapesjs-button--cancel-close::before {
  content: 'C';
}
.grapesjs-button--cancel::before {
  content: 'U';
}
.grapesjs-button--save-close:hover,
.grapesjs-button--cancel-close:hover,
.grapesjs-button--close:hover {
  color: #d278c9;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #gjs select {
    -webkit-appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    font-size: .7rem;
    text-shadow: none;
    transition: none;
    -webkit-transition: none;
    -webkit-font-smoothing: antialiased;
  }
  #gjs select:hover {
    box-shadow: none;
  }
  #gjs select:focus,
  #gjs select:hover {
    background-image: none;
    color: inherit;
  }
  #gjs .gjs-select select {
    padding-right: 10px;
  }
  #gjs .gjs-field input,
  #gjs .gjs-field select,
  #gjs .gjs-field textarea {
    padding: 5px;
  }

}
